@use "../abstracts" as *;

.books {
  @include section-size;
  @include background-image("/src/images/old-books-wallpapers.png");

  &-background {
    @include section-size(#1300029a);
  }

  .swiper-pagination {
    display: none;
  }

  &-container {
    @include container(1400px);
  }

  .books-swiper {
    height: 85vh;

    .books-list {
      margin-top: 70px;
      padding: 0 70px;

      .flip-card {
        background-color: transparent;
        perspective: 1000px;

        .card-container {
          width: 330px;
          height: 515px;
          transform-style: preserve-3d;

          &:hover .flip-card-inner {
            transform: rotateY(180deg);
          }
        }

        &-inner {
          position: relative;
          width: 330px;
          height: 515px;
          text-align: center;
          transition: transform 0.8s;
          transform-style: preserve-3d;
        }

        &-front,
        &-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }

        &-front {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          overflow: hidden;
        }

        &-back {
          background-color: $main-brown-color;
          color: $main-light-color;
          transform: rotateY(180deg);

          .book-close-button {
            display: none;
            border: none;
            background-color: transparent;
            font-size: 26px;
            padding: 8px 12px;
            color: $main-light-color;
          }

          .books-card-name {
            margin: 0;
            padding: 0 7px;
            margin-top: 10px;
            font-style: italic;
          }

          .books-card-title {
            margin: 0;
            margin-top: 7px;
            font-size: 18px;
          }

          .books-card-description {
            margin: 0;
            margin-top: 10px;
            padding: 0 15px;
            font-style: italic;
            text-align: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .books {
    @include background-image("/src/images/old-books-wallpapers-mob2.jpg");
    background-size: auto;
    background-attachment: scroll;

    &-background {
      padding-top: 50px;
    }

    .swiper-pagination {
      display: block;
      position: absolute;
      top: 82%;
      right: 0;
      left: 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }

    &-container {
      @include container(100%);
    }

    .books-swiper {
      .books-list {
        width: 100%;
        margin-top: 40px;
        padding: 0;

        .flip-card {
          margin: 30px 50px;
          padding: 0px 15px 0px 15px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .card-container {
            width: 75vw;
            height: 450px;
          }

          &-inner {
            width: 75vw;
            height: 450px;
          }

          &-back {
            position: relative;
            .book-close-button {
              display: block;
              position: absolute;
              top: -1%;
              right: -1%;
            }

            .books-card-name {
              padding-top: 25px;
              font-size: 21px;
              line-height: 20px;
            }

            .books-card-description {
              margin-top: 4px;
              font-size: 14px;
            }

            .books-card-title {
              margin-top: 4px;
              font-size: 17px;
            }
          }

          .card-container {
            &:hover .flip-card-inner {
              transform: none;
            }

            .flip-card-inner.active {
              transform: rotateY(180deg);
            }
          }
        }
      }
    }
  }
}
