@use "../abstracts" as *;

.contacts {
  @include section-size($main-dark-color);

  &-background {
    @include section-size;
  }

  &-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .contacts-container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .contacts-title {
      font-size: 30px;
      width: 70%;
      margin: 0 auto;
    }

    .contacts-list {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      padding-left: 0;
      margin: 50px 0;

      .contacts-cards-item {
        flex-basis: 40%;
        max-width: 320px;
        min-height: 280px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $main-light-color;
        border: 2px solid #b87e30;
        background-color: transparent;
        overflow: hidden;
        transition: all 1s ease-in-out;
  
        &:hover {
          background-color: #b87d3060;
        }

        .contacts-photo {
          display: block;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          margin-top: 20px;
        }

        .contacts-name {
          margin: 0;
          margin-top: 7px;
          font-size: 24px;
        }

        .contacts-role {
          margin: 0;
          margin-top: 8px;
          font-size: 18px;
        }

        .contacts-apps {
          min-width: 100px;
          min-height: 40px;
          margin-top: 14px;
          display: flex;
          justify-content: space-around;

          .contacts-link {
            display: block;
            text-decoration: none;
            font-size: 30px;
            transition: all 0.3s ease-in-out;

            &:hover {
              background: $main-light-color;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }

          .telegram {
            background: -webkit-linear-gradient(#9c47fc, #356ad2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .instagram {
            background: #d6249f;
            background: radial-gradient(
              circle at 30% 107%,
              #fdf497 0%,
              #fdf497 5%,
              #fd5949 45%,
              #d6249f 60%,
              #285aeb 90%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }

    .contacts-channel {
      align-self: center;
      display: flex;
      flex-direction: column;
      max-width: 37%;
      padding: 14px;
      border-radius: 30px;
      border: 2px solid #b87e30;
      background-color: transparent;
      overflow: hidden;
      transition: all 1s ease-in-out;

      &:hover {
        background-color: #b87d3060;
      }

      &-title {
        margin: 0;
        color: $main-light-color;
        font-weight: normal;
        text-align: center;
      }

      &-link {
        align-self: center;
        display: block;
        margin-top: 15px;
        padding: 7px 14px;
        background-color: #f4eee8de;
        color: $main-brown-color;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        border-radius: 30px;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: $main-brown-color;
          color: #f4eee8de;
        }
      }
    }
  }

  #footer {
    width: 100%;
    padding: 12px 0;
    margin: 0;
    color: $main-light-color;
    background-color: #b87d3067;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .contacts {

    .container {
      @include container(90%);
    }

    &-flex {
      .contacts-title {
        font-size: 21px;
        width: 100%;
      }

      .contacts-list {
        padding-left: 0;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 0;

        .contacts-cards-item {
          min-width: 65vw;
          min-height: 250px;
          margin-bottom: 30px;
        }
      }

      .contacts-channel {
        min-width: 65vw;
        margin-bottom: 30px;
      }
    }

    #footer {
      font-size: 14px;
    }
  }
}
