@use "../abstracts" as *;

* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $main-brown-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $main-light-color;
    border-radius: 30px;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  user-select: none;
}

.container {
  @include container(1130px);
}

.section-title {
  margin: 0;
  width: 100%;
  padding: 30px 10px 0 10px;
  letter-spacing: 1px;
  color: $main-light-color;
  text-align: center;
  font-size: 35px;
}

.fade-animation {
  opacity: 0;
  transition: all 1.5s ease-in-out;
}

.fade-animation.show {
  opacity: 1;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background: $main-light-color !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: $main-light-color;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  color: $main-brown-color; 
  cursor: pointer;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0 !important;
}
