@font-face {
  font-family: "Hachi Maru Pop";
  src: url("/sass/abstracts/fonts/HachiMaruPop-Regular.woff2") format("woff2"), url("/sass/abstracts/fonts/HachiMaruPop-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/sass/abstracts/fonts/Raleway-Bold.woff2") format("woff2"), url("/sass/abstracts/fonts/Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/sass/abstracts/fonts/Raleway-Thin.woff2") format("woff2"), url("/sass/abstracts/fonts/Raleway-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/sass/abstracts/fonts/Raleway-BoldItalic.woff2") format("woff2"), url("/sass/abstracts/fonts/Raleway-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/sass/abstracts/fonts/Raleway-Regular.woff2") format("woff2"), url("/sass/abstracts/fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/sass/abstracts/fonts/Raleway-ThinItalic.woff2") format("woff2"), url("/sass/abstracts/fonts/Raleway-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/sass/abstracts/fonts/Raleway-Italic.woff2") format("woff2"), url("/sass/abstracts/fonts/Raleway-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Bad Script";
  src: url("/sass/abstracts/fonts/BadScript-Regular.woff2") format("woff2"), url("/sass/abstracts/fonts/BadScript-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.modal-marks-list, .members-cards, .about .about-cards, #head #header .header-logo-text, #head #header .header-menu #menu, #head #header .header-menu #menu .menu-element {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: #b87e30;
}
*::-webkit-scrollbar-thumb {
  background-color: #f4eee8;
  border-radius: 30px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 1130px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  width: 100%;
  padding-top: 30px;
  letter-spacing: 1px;
  color: #f4eee8;
  text-align: center;
  font-size: 35px;
}

.fade-animation {
  opacity: 0;
  transition: all 1.5s ease-in-out;
}

.fade-animation.show {
  opacity: 1;
}

.swiper-pagination {
  position: absolute;
  top: 10px;
  right: 100px;
  width: auto !important;
  left: auto !important;
  margin: 0;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #f4eee8;
}

.swiper-button-prev,
.swiper-button-next {
  color: #f4eee8;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #b87e30;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0;
}

.icons {
  position: fixed;
  bottom: 4%;
  font-size: 15px;
  padding: 15px;
  color: #f4eee8;
  background: rgba(184, 125, 48, 0.4039215686);
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  border-color: rgba(184, 125, 48, 0.4039215686);
  box-shadow: 0 0 40px 40px rgba(184, 125, 48, 0.4039215686) inset, 0 0 0 0 rgba(230, 165, 80, 0.4588235294);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: 1000;
}
.icons:hover {
  box-shadow: 0 0 10px 0 #b87e30 inset, 0 0 10px 4px #faba66;
  background: rgba(230, 164, 79, 0.7450980392);
  border-color: #f1b360;
  color: black;
}

.to-top-icon {
  right: 3%;
  padding-right: 17px;
  padding-left: 17px;
}

.icon--hidden {
  bottom: -10%;
}

.icon-text {
  color: #b87e30;
}

#head {
  min-height: 100vh;
  min-width: 100vw;
  background-color: transperent;
  background-image: url("/images/quote2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 80px;
}
#head .header--hidden {
  transform: translateY(-80px);
}
#head #header {
  width: 100%;
  display: flex;
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  transition: all 0.5s 0.6s;
  z-index: 15;
}
#head #header .background {
  width: 100%;
  display: flex;
  background-color: transparent;
  transition: all 0.3s;
}
#head #header .header--background {
  background-color: rgba(184, 125, 48, 0.4039215686);
}
#head #header .header-logo {
  padding-left: 15px;
  padding-top: 5px;
  margin-right: 25px;
}
#head #header .header-logo-img {
  display: block;
  width: 100%;
}
#head #header .header-logo-text {
  align-self: flex-end;
  padding-bottom: 16px;
  font-size: 30px;
  font-family: "Hachi Maru Pop", sans-serif;
  color: #f4eee8;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
  display: block;
}
#head #header .header-logo-text .hidden-block {
  display: block;
  transform: translateY(150%);
  position: absolute;
  left: 0;
  top: 0;
  transition: inherit;
}
#head #header .header-logo-text .container-logo {
  position: relative;
  display: inline-block;
  transform: translateY(0%);
  transition: inherit;
}
#head #header .header-logo-text:hover .container-logo {
  transform: translateY(-100%);
}
#head #header .header-logo-text:hover .hidden-block {
  transform: translateY(100%);
}
#head #header .header-logo-text .text-blue {
  color: rgb(39, 92, 238);
}
#head #header .header-logo-text .text-yellow {
  color: rgb(240, 237, 100);
}
#head #header .header-menu {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
#head #header .header-menu #menu {
  padding-top: 10px;
  flex-basis: 90%;
  display: flex;
  justify-content: space-evenly;
}
#head #header .header-menu #menu .menu-element .container-button {
  position: relative;
  display: inline-block;
  padding: 6px;
}
#head #header .header-menu #menu .menu-element .container-button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background: #b87e30;
  border-radius: 8px;
  right: 0;
  top: 0;
  transition: 0.6s;
}
#head #header .header-menu #menu .menu-element .container-button:hover .menu-button::before {
  width: 100%;
}
#head #header .header-menu #menu .menu-element .container-button:hover::before {
  width: 100%;
}
#head #header .header-menu #menu .menu-element .menu-button {
  display: block;
  position: relative;
  text-decoration: none;
  color: #b87e30;
  cursor: pointer;
  font-size: 22px;
}
#head #header .header-menu #menu .menu-element .menu-button::before {
  content: attr(data-text);
  position: absolute;
  color: #f4eee8;
  width: 0;
  overflow: hidden;
  transition: 0.6s;
}
#head .quote {
  width: 50vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#head .quote-block {
  text-align: center;
  flex-basis: 25vw;
}
#head .quote-text, #head .quote-author {
  margin: 0;
  color: #f4eee8;
  font-family: "Bad Script", sans-serif;
  font-weight: normal;
  font-size: 45px;
}
#head .quote-author {
  font-size: 35px;
}

.about {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #130002;
}
.about-title {
  padding-top: 40px;
  letter-spacing: 1px;
  color: #f4eee8;
  text-align: center;
}
.about-title-header {
  margin: 0;
  font-size: 35px;
}
.about-title-desciption {
  margin: 0;
  margin-top: 15px;
  font-size: 24px;
}
.about .about-cards {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.about .about-cards-item {
  min-height: 215px;
  padding-left: 15px;
  margin-top: 30px;
  flex-basis: 400px;
  color: #f4eee8;
  border-left: 2px solid #f4eee8;
  transform: translateX(-100px);
  opacity: 0;
  transition: all 1s ease-in-out;
}
.about .about-cards-item:nth-child(2n) {
  transform: translateX(100px);
  opacity: 0;
}
.about .about-cards-item.showCard {
  transform: translateX(0);
  opacity: 1;
}
.about .about-cards-item .about-card-title {
  margin: 0;
  padding-top: 5px;
  font-size: 24px;
}
.about .about-cards-item .about-card-description {
  margin: 0;
  margin-top: 10px;
  line-height: 24px;
  font-size: 17px;
}

.rules {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(19, 0, 2, 0.6039215686);
}
.rules #myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.rules-cards {
  min-height: 680px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  margin: 0;
  padding: 50px;
  list-style: none;
}
.rules-cards-item {
  position: relative;
  flex-basis: 17%;
  display: flex;
  align-content: start;
  padding: 10px;
  padding-top: 28px;
  border: 2px solid #b87e30;
  border-radius: 30px;
  background-color: transparent;
  overflow: hidden;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease-in-out;
}
.rules-cards-item.showCard {
  transform: translateY(0);
  opacity: 1;
}
.rules-cards-item:hover {
  background-color: rgba(184, 125, 48, 0.3764705882);
}
.rules-cards-item:before {
  content: "\f071";
  font-family: FontAwesome;
  position: absolute;
  top: 3%;
  left: 45%;
  color: #b87e30;
  font-size: 26px;
}
.rules-cards-item .rules-card-description {
  margin: 0;
  padding-top: 10px;
  color: #f4eee8;
  font-size: 20px;
  text-align: center;
}

.members {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #130002;
}
.members-cards {
  display: flex;
  align-items: center;
  align-content: center;
  height: 90vh;
}
.members-cards-item {
  min-width: 280px;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  object-fit: cover;
  transform-origin: center;
  transform: perspective(800px) rotateY(25deg);
  transition: 0.5s;
}
.members .members-swiper {
  height: 90vh;
}
.members .members-swiper .members-slide {
  max-width: 650px;
  max-height: 575px;
  margin: 50px;
  padding: 0px 15px 0px 30px;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  overflow: hidden;
}
.members .members-swiper .members-slide .members-card-image {
  padding-top: 30px;
  max-width: 350px;
  min-height: 400px;
  max-height: 460px;
  margin-right: 27px;
}
.members .members-swiper .members-slide .members-card-image .card-image {
  width: 340px;
  height: 460px;
  object-fit: cover;
  border-radius: 30px;
}
.members .members-swiper .members-slide .members-card-text {
  position: relative;
  margin-top: 20px;
  color: #f4eee8;
  flex-grow: 1;
}
.members .members-swiper .members-slide .members-card-text .card-name {
  font-size: 40px;
  margin: 0;
}
.members .members-swiper .members-slide .members-card-text .card-achievements {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
}
.members .members-swiper .members-slide .members-card-text .card-achievements .admin {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-right: 3px;
  padding: 2px 5px;
  border-radius: 15px;
  line-height: 24px;
  background-color: rgba(240, 53, 53, 0.377);
}
.members .members-swiper .members-slide .members-card-text .card-achievements .secretary {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-right: 3px;
  padding: 2px 5px;
  border-radius: 15px;
  line-height: 24px;
  background-color: rgba(184, 173, 23, 0.377);
}
.members .members-swiper .members-slide .members-card-text .card-achievements .stepan {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-right: 3px;
  padding: 2px 5px;
  border-radius: 15px;
  line-height: 24px;
  background-color: transperent;
  background: rgb(15, 71, 187);
  background: linear-gradient(90deg, rgba(201, 207, 20, 0.493) 30%, rgba(15, 72, 187, 0.486) 65%);
}
.members .members-swiper .members-slide .members-card-text .card-achievements .author {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-right: 3px;
  padding: 2px 5px;
  border-radius: 15px;
  line-height: 24px;
  background-color: rgba(146, 137, 137, 0.377);
}
.members .members-swiper .members-slide .members-card-text .card-achievements .author img {
  width: 20px;
}
.members .members-swiper .members-slide .members-card-text .card-achievements .genre {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-right: 3px;
  padding: 2px 5px;
  border-radius: 15px;
  line-height: 24px;
  background-color: rgba(117, 76, 38, 0.377);
}
.members .members-swiper .members-slide .members-card-text .card-achievements .genre img {
  width: 20px;
}
.members .members-swiper .members-slide .members-card-text .card-achievements .book {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-right: 3px;
  padding: 2px 5px;
  border-radius: 15px;
  line-height: 24px;
  background-color: rgba(35, 80, 163, 0.377);
}
.members .members-swiper .members-slide .members-card-text .card-achievements .character {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-right: 3px;
  padding: 2px 5px;
  border-radius: 15px;
  line-height: 24px;
  background-color: rgba(56, 110, 35, 0.377);
}
.members .members-swiper .members-slide .members-card-text .card-status {
  position: absolute;
  bottom: 15%;
  left: 14%;
  font-style: italic;
}

.rating {
  background-image: url("/images/library.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
  background-color: transperent;
  position: relative;
}
.rating-background {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(19, 0, 2, 0.6039215686);
}
.rating-container {
  width: 1400px;
  margin: 0 auto;
}
.rating-swiper {
  height: 85vh;
  z-index: 10;
}
.rating-swiper .rating-list {
  padding: 50px 100px;
  margin-top: 70px;
}
.rating .rating-slide {
  position: relative;
}
.rating .rating-slide .rating-card-place {
  position: absolute;
  color: #f4eee8;
  font-size: 220px;
  z-index: -1;
  top: -120px;
  left: -90px;
}
.rating .rating-slide:nth-child(1) .rating-card-place {
  color: #ffd700;
}
.rating .rating-slide:nth-child(2) .rating-card-place {
  color: #c0c0c0;
}
.rating .rating-slide:nth-child(3) .rating-card-place {
  color: #cd7f32;
}
.rating .rating-slide .rating-card-item {
  position: relative;
  width: 250px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.rating .rating-slide .rating-card-item .rating-hover-block {
  opacity: 0;
  width: 102%;
  height: 102%;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}
.rating .rating-slide .rating-card-item .rating-hover-block .rating-bookname {
  margin: 0;
  padding-top: 20px;
  color: #f4eee8;
  font-size: 22px;
  text-align: center;
}
.rating .rating-slide .rating-card-item .rating-hover-block .rating-mark {
  position: absolute;
  margin: 0;
  bottom: 30%;
  left: 0%;
  padding: 7px 15px;
  color: #f4eee8;
  font-size: 26px;
  background-color: #b87e30;
  transform: translateX(-70px);
  transition: all 0.5s ease-in-out;
}
.rating .rating-slide .rating-card-item .rating-hover-block .rating-btn {
  position: absolute;
  border: none;
  bottom: 15%;
  right: 0%;
  padding: 7px 20px;
  font-size: 24px;
  color: #f4eee8;
  background-color: #b87e30;
  transform: translateX(70px);
  transition: all 0.5s ease-in-out;
}
.rating .rating-slide .rating-card-item .rating-hover-block .rating-btn:hover {
  cursor: pointer;
  color: #b87e30;
  background-color: #f4eee8;
}
.rating .rating-slide .rating-card-item:hover .rating-hover-block {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.932);
}
.rating .rating-slide .rating-card-item:hover .rating-mark, .rating .rating-slide .rating-card-item:hover .rating-btn {
  transform: translateX(0);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 11;
}
.overlay.show-modal {
  display: block;
}

.modal {
  position: absolute;
  z-index: 12;
  top: 20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  min-height: 300px;
  border-radius: 15px;
  background-color: #f4eee8;
  overflow: hidden;
  color: #130002;
  outline: 1px solid #130002;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.modal.show-modal {
  transform: scale(1);
}
.modal-header {
  display: flex;
  justify-content: space-between;
  background-color: #b87e30;
}
.modal-header-text {
  margin: 0;
  padding: 5px 0;
  margin-left: 15px;
  font-size: 22px;
  color: #f4eee8;
}
.modal-header .btn-close {
  border: none;
  background-color: transparent;
  font-size: 24px;
  margin-right: 15px;
  color: #f4eee8;
}
.modal-header .btn-close:hover {
  color: #130002;
  cursor: pointer;
}
.modal-author {
  margin: 0;
  margin-top: 20px;
  margin-left: 25px;
  font-size: 18px;
}
.modal-title {
  text-align: center;
  margin: 0;
  margin-top: 12px;
}
.modal-description {
  margin: 0;
  padding: 10px 25px 0 25px;
  font-size: 15px;
  text-align: justify;
  line-height: 20px;
}
.modal-marks-list {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.modal-marks-list .mark-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-marks-list .mark-item-name {
  margin: 0;
  text-align: center;
  font-size: 16px;
}
.modal-marks-list .mark-item-value {
  width: 40px;
  margin: 0;
  margin-top: 5px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 16px;
  background-color: #b87e30;
}
.modal-marks-list .mark-item .good-mark {
  background-color: #b6d7a8;
}
.modal-marks-list .mark-item .mediocre-mark {
  background-color: #ffe599;
}
.modal-marks-list .mark-item .bad-mark {
  background-color: #ea9999;
}

.books {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #130002;
}
.books-container {
  width: 1400px;
  margin: 0 auto;
}
.books .books-swiper {
  height: 85vh;
}
.books .books-swiper .books-list {
  margin-top: 70px;
  padding: 0 70px;
}
.books .books-swiper .books-list .flip-card {
  background-color: transparent;
  perspective: 1000px;
}
.books .books-swiper .books-list .flip-card .card-container {
  width: 330px;
  height: 515px;
  transform-style: preserve-3d;
}
.books .books-swiper .books-list .flip-card .card-container:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.books .books-swiper .books-list .flip-card-inner {
  position: relative;
  width: 330px;
  height: 515px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.books .books-swiper .books-list .flip-card-front, .books .books-swiper .books-list .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.books .books-swiper .books-list .flip-card-front {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.books .books-swiper .books-list .flip-card-back {
  background-color: #b87e30;
  color: #f4eee8;
  transform: rotateY(180deg);
}
.books .books-swiper .books-list .flip-card-back .books-card-name {
  margin: 0;
  padding: 0 7px;
  margin-top: 10px;
  font-style: italic;
}
.books .books-swiper .books-list .flip-card-back .books-card-title {
  margin: 0;
  margin-top: 7px;
  font-size: 18px;
}
.books .books-swiper .books-list .flip-card-back .books-card-description {
  margin: 0;
  margin-top: 10px;
  padding: 0 15px;
  font-style: italic;
  text-align: center;
}

.contacts {
  min-height: 100vh;
  min-width: 100vw;
  background-color: transperent;
  background-image: url("/images/buse-doga.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.contacts-background {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(19, 0, 2, 0.6039215686);
}
.contacts-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts-flex .contacts-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.contacts-flex .contacts-title {
  font-size: 30px;
  width: 70%;
  margin: 0 auto;
}
.contacts-flex .contacts-list {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 50px;
}
.contacts-flex .contacts-list .contacts-cards-item {
  flex-basis: 40%;
  max-width: 320px;
  min-height: 280px;
  border-radius: 30px;
  background-color: rgba(184, 125, 48, 0.4039215686);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f4eee8;
}
.contacts-flex .contacts-list .contacts-cards-item .contacts-photo {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 20px;
}
.contacts-flex .contacts-list .contacts-cards-item .contacts-name {
  margin: 0;
  margin-top: 7px;
  font-size: 24px;
}
.contacts-flex .contacts-list .contacts-cards-item .contacts-role {
  margin: 0;
  margin-top: 8px;
  font-size: 18px;
}
.contacts-flex .contacts-list .contacts-cards-item .contacts-apps {
  min-width: 100px;
  min-height: 40px;
  margin-top: 14px;
  display: flex;
  justify-content: space-around;
}
.contacts-flex .contacts-list .contacts-cards-item .contacts-apps .contacts-link {
  display: block;
  text-decoration: none;
  font-size: 30px;
}
.contacts-flex .contacts-list .contacts-cards-item .contacts-apps .contacts-link:hover {
  background: #f4eee8;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contacts-flex .contacts-list .contacts-cards-item .contacts-apps .telegram {
  background: -webkit-linear-gradient(#9c47fc, #356ad2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contacts-flex .contacts-list .contacts-cards-item .contacts-apps .instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contacts #footer {
  width: 100%;
  padding: 12px 0;
  margin: 0;
  color: #f4eee8;
  background-color: rgba(184, 125, 48, 0.4039215686);
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
